apiVersion: v1
kind: Secret
metadata:
  name: {{.ProjectName}}-mariadb
  namespace: {{.Namespace}}
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
    app.kubernetes.io/instance: {{.ProjectName}}
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: displace
type: Opaque
data:
  root-password: {{.DBRootPasswordB64}}
  password: {{.DBPasswordB64}}
